*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* This will change the scrollbar for the entire page */
body::-webkit-scrollbar {
  width: 1em;
  /* width of the scrollbar */
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* color of the scroll thumb */
  outline: 1px solid slategrey;
  /* outline color of the scroll thumb */
}